* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0d0d0d;
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #00eaff;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#00000090, #00000090), url("https://via.placeholder.com/1200") center/cover;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.hero-content span {
    color: #00eaff;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .btn {
    margin-top: 20px;
    padding: 15px 30px;
    background: #00eaff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
}

/* Sections */
section {
    padding: 80px 10%;
    text-align: center;
}

/* Projects */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 8px;
    transition: transform .3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

/* Contact */
.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input, .contact-form textarea {
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.contact-form button {
    background: #00eaff;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}

/* Footer */
footer {
    padding: 15px;
    background: #111;
    text-align: center;
}
